.profile__edit-button {
    max-width: 24px;
    margin-left: 10px;
    align-self: flex-start;
    margin-top: 32px;
}

.profile__edit-button:hover {
    opacity: 0.5;
}

@media all and (max-width:900px) {
    .profile__edit-button {
        position: absolute;
        top: 132px;
        right: 270px;
    }
}

@media all and (max-width:800px) {
    .profile__edit-button {
        right: 200px;
    }
}

@media all and (max-width:700px) {
    .profile__edit-button {
        right: 170px;
    }
}

@media all and (max-width:600px) {
    .profile__edit-button {
        right: 120px;
    }
}

@media all and (max-width:500px) {
    .profile__edit-button {
        right: 70px;
    }
}

@media all and (max-width:400px) {
    .profile__edit-button {
        right: 20px;
    }
}
