.profile {
    display: flex;
    flex-direction: row;
    margin: 40px auto 40px auto;
    justify-content: flex-start;
    align-items: center;
}

@media all and (max-width:900px) {
    .profile {
        min-width: 282px;
        flex-direction: column;
    }
}
