.profile__add-button {
    grid-area: add;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 150px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media all and (max-width:900px) {
    .profile__add-button {
        min-width: 282px;
        justify-self: center;
    }
}
