.profile__add-button {
    max-width: 150px;
    margin-left: 244px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.5;
}

@media all and (max-width:900px) {
    .profile__add-button {
        min-width: 282px;
        max-width: 0;
        margin: 0;
    }
}
