.photo-grid__item_delete {
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 2;
    max-width: 18px;
    min-height: 20px;
    background-color: rgba(239, 239, 239, 0);
    background-image: url(../../../../images/delete.svg);
    background-size: cover;
    background-position: center;
    border: none;
}