.form__close {
    max-height: 40px;
    position: absolute;
    left: 98%;
    top: -30px;
    cursor: pointer;
    border: none;
    background-color: rgba(239, 239, 239, 0);
    background-image: url("../../../images/Close-Icon.svg");
    min-width: 40px;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form__close:hover {
    opacity: 0.6;
}

@media all and (max-width:900px) {
    .form__close {
        max-height: 26px;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        left: 90%;
        top: -30px;
    }
}
