.form__close {
    max-height: 40px;
    margin-top: -41px;
    margin-left: 420px;
}

.form__close:hover {
    opacity: 0.5;
}

@media all and (max-width:900px) {
    .form__close {
        max-height: 26px;
        margin-left: 280px;
    }
}
