.profile__info {
    grid-area: info;
    max-width: 336px;
    display: flex;
    flex-direction: column;
    min-width: 189px;
}

@media all and (max-width:900px) {
    .profile__info {
        justify-self: right;
    }
}
